@import "./header";

body {
  background-color: #fff;
  margin: 0;
}

.todo-list-item {
  display: flex;
  width: 300px;
  height: 40px;
  background-color: #ead320;
  margin-top: 5px;
  box-shadow: 1px 1px 7px rgba(0,0,0,0.5);
  a {
    text-decoration: none;
    color: #000;
    &:hover, &:active, &:focus, &:visited {
      color: #000;
      text-decoration: none;
    }
  }
}
